.orders-page {
}

/* КОД */
.pickup-code-block {
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.pickup-code-title {
    font-size: 14px;
    color: #666;
}

.pickup-code-number {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
}

.pickup-code-desc {
    font-size: 13px;
    color: #999;
}

/* ТАБЫ */
.orders-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.orders-tabs button {
    padding: 10px 20px;
    border: none;
    background: #eee;
    border-radius: 8px;
    cursor: pointer;
}

.orders-tabs .active {
    background: black;
    color: white;
}

/* ПУСТО */
.orders-empty {
    text-align: center;
}

/* КАРТОЧКА */
.order-card {
    background: white;
    border-radius: 16px;
    margin-bottom: 16px;
    padding: 16px;
}

/* HEADER */
.order-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}

.order-number {
    font-weight: bold;
}

.order-date {
    font-size: 12px;
    color: #777;
}

.status {
    font-size: 12px;
}

/* BODY */
.order-body {
    display: flex;
    justify-content: space-between;
}

/* LEFT */
.order-left {
    display: flex;
    gap: 10px;
}

.order-left img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

/* RIGHT */
.order-right {
    text-align: right;
}

.price {
    font-weight: bold;
}

/* ACTIONS */
.actions {
    display: flex;
    gap: 6px;
    margin-top: 6px;
}

.pay {
    background: black;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
}

.cancel {
    border: 1px solid #ccc;
    background: none;
    padding: 6px 12px;
}

.details {
    border: none;
    background: none;
    color: #555;
}

/* EXPANDED */
.order-expanded {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.expanded-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.expanded-item img {
    width: 50px;
}

/* TOGGLE */
.expand-toggle {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    font-size: 13px;
    color: #555;
}